p, input, textarea {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
body {
    background-image: url("images/bg.png");
    background-repeat: repeat-y;
    background-size: contain;
  }
.header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
  }
  
  .progress-container {
    width: 100%;
    height: 8px;
    background: #13181D;
  }
  
  .progress-bar {
    height: 8px;
    background: rgb(57, 107, 199);
    width: 0%;
  }

.reveal {
    transform: translateY(250px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.show {
    transform: translateY(0);
    opacity: 1;
}

.reveal-logo {
    transform: translateY(250px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal-logo.show {
    transform: translateY(0);
    opacity: 1;
}

  .logo {
    height: max(3vh, 5vh);
    width: max(3vh, 5vh);
    margin-left: 5px;
    margin-right: 5px;
  }

  .logo:hover {
    transform: scale(1.5);
  }


.rounded-button {
    background-color: rgb(57, 107, 199);
    color: white;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    transition: background-color 0.15s;
}

.rounded-button:hover {
    background-color: rgb(39, 80, 155);
}

.slides {
    display: none;
}

* {
    box-sizing: border-box
}

.welcome {
    animation: fadeIn 2s;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: min(100vw, 100vh);
}

.welcome-text {
    animation: fadeIn 2s;
    font-size: 4vw;
    color: white;
    text-align: center;
    text-transform: uppercase;
    word-spacing: 2px;
    letter-spacing: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
}

.welcome-text-bg {
    animation: fadeIn 2s;
    font-size: 2.5vw;
    color: rgb(160, 176, 179);
    text-align: center;
    text-transform: uppercase;
    word-spacing: 2px;
    letter-spacing: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.normal-text {
    font-size: max(1.5vh, 1.5vw);
    color: white;
    position: absolute;
    border-width: 5px;
    border-color: #fff;
    text-align: center;
    margin-top: 250px;
    margin-bottom: 5px;
    font-weight: bold;
    width: 50%;
}


.normal-text-bg {
    font-size: 20px;
    color: rgb(160, 176, 179);
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.prev {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    left: 0;
}

.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.dot {
    cursor: pointer;
    position: absolute;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: rgba(86, 108, 112, 0.479);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.aboutSection {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: min(100vw, 100vh);
}


.about {
    font-size: 12.5vw;
    color: rgb(48, 51, 52);
    text-align: center;
    text-transform: uppercase;
    word-spacing: 2px;
    letter-spacing: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
}

.skillSection {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.skillSectionHeading {
    font-size: 200px;
    color: rgb(48, 51, 52);
    text-align: center;
    text-transform: uppercase;
    word-spacing: 2px;
    letter-spacing: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
}


.skillSectionText {
    font-size: 20px;
    color: rgb(160, 176, 179);
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.skill-progress-bar-Container {
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
}

.details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.bar {
    position: relative;
    border: 2px solid rgb(57, 107, 199);
    border-radius: 20px;
}

.bar div {
    position: relative;
    width: inherit;
    height: 9px;
    border-radius: 10px;
    background-color: rgb(57, 107, 199);
}

.skill {
    margin-left: 5%;
    margin-right: 5%;
}

#html-bar {
    animation: html-fill 2s forwards;
}
@keyframes html-fill {
    100% {
        width: 75%;
    }
}

#css-bar {
    animation: css-fill 2s forwards;
}
@keyframes css-fill {
    100% {
        width: 70%;
    }
}

#python-bar {
    animation: python-fill 2s forwards;
}
@keyframes python-fill {
    100% {
        width: 80%;
    }
}

#otx-bar {
    animation: otx-fill 2s forwards;
}
@keyframes otx-fill {
    100% {
        width: 90%;
    }
}

#c-cpp-bar {
    animation: c-cpp-fill 2s forwards;
}
@keyframes c-cpp-fill {
    100% {
        width: 75%;
    }
}

#github-bar {
    animation: github-fill 2s forwards;
}
@keyframes github-fill {
    100% {
        width: 80%;
    }
}

#jira-bar {
    animation: jira-fill 2s forwards;
}

@keyframes jira-fill {
    100% {
        width: 90%;
    }
}

#vehicle-diagnostics-bar {
    animation: vehicle-diagnostics-fill 2s forwards;
}
@keyframes vehicle-diagnostics-fill {
    100% {
        width: 80%;
    }
}

#can-bar {
    animation: can-fill 2s forwards;
}

@keyframes can-fill {
    100% {
        width: 80%;
    }
}

#eclipse-bar {
    animation: eclipse-fill 2s forwards;
}
@keyframes eclipse-fill {
    100% {
        width: 90%;
    }
}

.experienceSection {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: min(100vw, 100vh);
    margin-bottom: 300px;
}

.experienceSectionHeading {
    font-size: max(10vw, 8vw);
    color: rgb(48, 51, 52);
    text-align: center;
    text-transform: uppercase;
    word-spacing: 2px;
    letter-spacing: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
    position: absolute;
}

.professional-info {
    font-size: 1.88vw;
    position: absolute;
    color: white;
    text-align: center;
    font-weight: bold;
    margin-top: 250px;
    margin-bottom: 30px;
    display: flex;
    width: 55%;
    flex-direction: row;
}

/* Style the buttons that are used to open and close the accordion jobDescription */
.job-container {
    /* background-color: rgb(51, 82, 138);; */
    /* padding: 18px; */
    width: 50%;
    border-radius: 10px;
    border-width: 5px;
    border-color: rgb(160, 176, 179);
    outline: none;
    transition: 0.4s;
    font-size: 20px;
    text-align: left;
    color: #fff;
    display: inline-block;
    position: absolute;
    margin-top: 70%;
    padding-bottom: 20%;
}

.job-title {
    font-size: 20px;
    color: white;
    text-align: center;
    /* font-weight: bold; */
    margin-top: 0px;
    margin-bottom: 0px;
}

.job-description {
    font-size: 20px;
    color: white;
    text-align: left;
    /* font-weight: bold; */
    margin-top: 0px;
    margin-bottom: 0px;
}

.job-duration {
    margin-top: 0px;
    margin-bottom: 0px;
    color: rgb(160, 176, 179);
}

.tab {
    float: left;
    background-color: inherit;
    width: 30%;
    height: 300px;
    display: inline;
    border-radius: 10px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    display: block;
    background-color: rgb(65, 81, 83);
    border-radius: 10px;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    margin-bottom: 2px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
    border-radius: 10px;
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: rgb(160, 176, 179);
    border-radius: 10px;
}

/* Style the tab content */
.tabcontent {
    float: left;
    padding: 0px 12px;
    width: 70%;
    border-left: none;
    height: 300px;
    display: none;
}



.educationSection {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-bottom: 5%;
}

.educationSectionHeading {
    font-size: 140px;
    color: rgb(48, 51, 52);
    text-align: center;
    text-transform: uppercase;
    word-spacing: 2px;
    letter-spacing: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
    position: relative;
}

/* Style the buttons that are used to open and close the accordion jobDescription */
.education-container {
    /* background-color: rgb(51, 82, 138);; */
    /* padding: 18px; */
    width: 50%;
    border-radius: 10px;
    border-width: 5px;
    border-color: rgb(160, 176, 179);
    outline: none;
    transition: 0.4s;
    font-size: 20px;
    text-align: left;
    color: #fff;
    display: inline;
}

.education-title {
    font-size: 20px;
    color: white;
    text-align: left;
    /* font-weight: bold; */
    margin-top: 0px;
    margin-bottom: 0px;
}

.education-description {
    font-size: 20px;
    color: white;
    text-align: left;
    /* font-weight: bold; */
    margin-top: 0px;
    margin-bottom: 0px;
}

.education-duration {
    margin-top: 0px;
    margin-bottom: 0px;
    color: rgb(160, 176, 179);
}

.feedbackSection {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: min(100vw, 100vh);
}

.feedbackSectionHeading {
    font-size: 100px;
    color: rgb(48, 51, 52);
    text-align: center;
    /* text-transform: uppercase; */
    /* word-spacing: 2px;
    letter-spacing: 20px; */
    margin-top: 5px;
    margin-bottom: 20px;
    font-weight: bold;
    position: relative;
}

.inputBoxes{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    padding: 12px;
    width: 50%;
}

input, textarea {
    margin: 5px 0;
    padding: 10px;
    border-radius: 10px;
}

textarea {
    resize: none;
    padding: 20px;
    padding-left: 10px;
    padding-top: 10px;
}

.credits {
    margin-top: 8vw;
    color: rgb(160, 176, 179);
    text-align: center;
}

.projectSection {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: min(100vw, 100vh);
}

.projectSectionHeading {
    font-size: 100px;
    color: rgb(48, 51, 52);
    text-align: center;
    /* text-transform: uppercase; */
    /* word-spacing: 2px;
    letter-spacing: 20px; */
    margin-top: 5px;
    margin-bottom: 20px;
    font-weight: bold;
    position: relative;
}

.project-container {
    text-align: center;
    display: flex;
    flex-direction: row;
    margin-top: 3vw;
    vertical-align: top;
    width: 60%;
    
}

.project-title {
    color: #fff;
    font-size: 2vw;
    width: 45%;
    border-width: 2px;
    border-color: #fff;
    margin-top: 0;
}
.project-description {
    color: rgb(160, 176, 179);
    font-size: 1vw;
    width: 55%;     
    margin-top: 0;
}

.visit-counter {
    color: rgb(160, 176, 179);
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}