.aboutSection {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    scroll-snap-align: start;
    /* background-color: black; */
}


.about-heading {
    font-size: 12.5vw;
    color: rgb(48, 51, 52);
    text-align: center;
    display: block;
    text-transform: uppercase;
    word-spacing: 2px;
    letter-spacing: 20px;
    margin-top: 5px;
    margin-bottom: 20rem;
    font-weight: bold;
}

.about-text {
    font-size: 1.5vw;
    color: white;
    position: absolute;
    border-width: 5px;
    border-color: #fff;
    text-align: center;
    /* margin-top: 250px; */
    margin-bottom: 5rem;
    font-weight: bold;
    width: 50%;
}

.logo {
    height: max(3vh, 5vh);
    width: max(3vh, 5vh);
    margin-left: 5px;
    margin-right: 5px;
  }

  @media (max-width: 768px) {
    .about-heading {
        font-size: 15vw;
        color: rgb(48, 51, 52);
        text-align: center;
        display: block;
        text-transform: uppercase;
        word-spacing: 2px;
        letter-spacing: 20px;
        margin-top: 5px;
        margin-bottom: 35rem;
        font-weight: bold;
    }

    .about-text {
        font-size: 4vw;
        color: white;
        position: absolute;
        border-width: 5px;
        border-color: #fff;
        text-align: center;
        /* margin-top: 250px; */
        margin-bottom: 12rem;
        font-weight: bold;
        width: 70%;
        word-wrap: break-word
    }

    .logo {
        height: 3vh;
        width: 3vh;
        margin-left: 5px;
        margin-right: 5px;
      }
    
}