
.experienceSection {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* margin-bottom: 300px; */
}

.experienceSectionHeading {
    font-size: 10vw;
    color: rgb(48, 51, 52);
    text-align: center;
    text-transform: uppercase;
    word-spacing: 2px;
    letter-spacing: 20px;
    margin-top: 5px;
    margin-bottom: 30rem;
    font-weight: bold;
    position: absolute;
}

.professional-info {
    font-size: 1.88vw;
    position: absolute;
    color: white;
    text-align: center;
    font-weight: bold;
    /* margin-top: 250px; */
    margin-bottom: 20rem;
    display: flex;
    width: 55%;
    flex-direction: row;
}

/* Style the buttons that are used to open and close the accordion jobDescription */
.job-container {
    /* background-color: rgb(51, 82, 138);; */
    /* padding: 18px; */
    width: 50%;
    border-radius: 10px;
    border-width: 5px;
    border-color: rgb(160, 176, 179);
    outline: none;
    transition: 0.4s;
    font-size: 1.5rem;
    text-align: left;
    color: #fff;
    display: inline;
    position: absolute;
    margin-top: 20rem;
    /* padding-bottom: 20%; */
}

.job-title {
    font-size: 1.2rem;
    color: white;
    text-align: center;
    /* font-weight: bold; */
    margin-top: 0px;
    margin-bottom: 0px;
}

.job-description {
    font-size: 1.5rem;
    color: white;
    text-align: left;
    /* font-weight: bold; */
    margin-top: 0px;
    margin-bottom: 0px;
}

.job-duration {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 1.2rem;
    color: black;
}

@media screen and (max-width: 500px) and (max-height: 800px) {

    .experienceSectionHeading {
        font-size: 10vw;
        letter-spacing: 0.6rem;
        margin-bottom: 45rem;
    }

    .professional-info {
        font-size: 5.5vw;
        word-wrap: break-word;
        width: 95%;
        margin-top: 2.5rem;
    }
}