.feedbackSection {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: min(100vw, 100vh);
}

.feedbackSectionHeading {
    font-size: 100px;
    color: rgb(48, 51, 52);
    text-align: center;
    /* text-transform: uppercase; */
    /* word-spacing: 2px;
    letter-spacing: 20px; */
    margin-top: 5px;
    margin-bottom: 20px;
    font-weight: bold;
    position: relative;
}

.inputBoxes{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    padding: 12px;
    width: 50%;
}

textarea {
    resize: none;
    padding: 20px;
    padding-left: 10px;
    padding-top: 10px;
}

input, textarea {
    margin: 5px 0;
    padding: 10px;
    border-radius: 10px;
}

.rounded-button {
    background-color: rgb(57, 107, 199);
    color: white;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    transition: background-color 0.15s;
}

.rounded-button:hover {
    background-color: rgb(39, 80, 155);
}

.credits {
    margin-top: 8vw;
    color: rgb(160, 176, 179);
    text-align: center;
}