
.projectSection {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: min(100vw, 100vh);
}

.projectSectionHeading {
    font-size: max(10vw, 8vw);
    color: rgb(48, 51, 52);
    text-align: center;
    text-transform: uppercase;
    word-spacing: 2px;
    letter-spacing: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
    /* position: absolute; */
}

.project-container {
    text-align: center;
    display: flex;
    flex-direction: row;
    margin-top: 3vw;
    vertical-align: top;
    width: 60%;
    
}

.project-title {
    color: #fff;
    font-size: 2vw;
    width: 55%;
    border-width: 2px;
    border-color: #fff;
    margin-top: 0;
}

.project-description {
    color: black;
    font-size: 1vw;
    width: 80%;     
    margin-top: 0;
}