.skillSection {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
    height: 100vh;
}

.skillSectionHeading {
    font-size: 200px;
    color: rgb(48, 51, 52);
    text-align: center;
    text-transform: uppercase;
    word-spacing: 2px;
    letter-spacing: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
}

.skillSectionText {
    font-size: 20px;
    color: rgb(160, 176, 179);
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.skill-progress-bar-Container {
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
}

.skill {
    margin-left: 5%;
    margin-right: 5%;
}

.details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.bar {
    position: relative;
    border: 2px solid rgb(57, 107, 199);
    border-radius: 20px;
}

.bar div {
    position: relative;
    width: inherit;
    height: 9px;
    border-radius: 10px;
    background-color: rgb(57, 107, 199);
}

#otx-bar {
    animation: otx-fill 2s forwards;
}

#vehicle-diagnostics-bar {
    animation: vehicle-diagnostics-fill 2s forwards;
}

#html-bar {
    animation: html-fill 2s forwards;
}

#javascript-bar {
    animation: css-fill 2s forwards;
}

#python-bar {
    animation: python-fill 2s forwards;
}

#c-cpp-bar {
    animation: c-cpp-fill 2s forwards;
}

#can-bar {
    animation: can-fill 2s forwards;
}

#github-bar {
    animation: github-fill 2s forwards;
}

#jira-bar {
    animation: jira-fill 2s forwards;
}

#eclipse-bar {
    animation: eclipse-fill 2s forwards;
}