p,
input,
textarea {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

body {
    background: #13181D;
    background-image: linear-gradient(-45deg,  #b2c739 0%, #396bc7 100%);
    width: 99%;
    /* height: 100vh; */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    background-size: 300% 300%;
    -webkit-animation: AnimateBG 8s ease infinite;
    animation: AnimateBG 8s ease infinite;
}

@-webkit-keyframes AnimateBG {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes AnimateBG {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.reveal {
    transform: translateY(250px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.show {
    transform: translateY(0);
    opacity: 1;
}

.revealHeading {
    transform: translateY(250px);
    opacity: 0;
    transition: 1s all ease;
}

.revealHeading.show {
    transform: translateY(0);
    opacity: 1;
}

.reveal-logo {
    transform: translateY(250px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal-logo.show {
    transform: translateY(0);
    opacity: 1;
}

.logo:hover {
    transform: scale(1.5);
    transition: 1s all ease;
}

* {
    box-sizing: border-box
}

.normal-text-bg {
    font-size: 20px;
    color: rgb(160, 176, 179);
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.tab {
    float: left;
    background-color: inherit;
    width: 30%;
    height: 300px;
    display: inline;
    border-radius: 10px;
}

.tab button {
    display: block;
    background-color: rgb(65, 81, 83);
    border-radius: 10px;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    margin-bottom: 2px;
}

.tab button:hover {
    background-color: #ddd;
    border-radius: 10px;
}

.tab button.active {
    background-color: rgb(160, 176, 179);
    border-radius: 10px;
}

.tabcontent {
    float: left;
    padding: 0px 12px;
    width: 70%;
    border-left: none;
    height: 300px;
    display: none;
}