.welcome {
    animation: fadeIn 2s;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: min(100vw, 100vh);
}

.slides {
    display: none;
}

.welcome-text {
    animation: fadeIn 2s;
    font-size: 4vw;
    color: white;
    text-align: center;
    text-transform: uppercase;
    word-spacing: 2px;
    letter-spacing: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
}

.welcome-text-bg {
    animation: fadeIn 2s;
    font-size: 2.5vw;
    color: rgb(160, 176, 179);
    text-align: center;
    text-transform: uppercase;
    word-spacing: 2px;
    letter-spacing: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.prev {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    left: 0;
}

.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
