@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes eclipse-fill {
    100% {
        width: 90%;
    }
}

@keyframes can-fill {
    100% {
        width: 80%;
    }
}

@keyframes vehicle-diagnostics-fill {
    100% {
        width: 80%;
    }
}

@keyframes jira-fill {
    100% {
        width: 90%;
    }
}

@keyframes github-fill {
    100% {
        width: 80%;
    }
}

@keyframes c-cpp-fill {
    100% {
        width: 75%;
    }
}

@keyframes html-fill {
    100% {
        width: 75%;
    }
}


@keyframes css-fill {
    100% {
        width: 70%;
    }
}


@keyframes python-fill {
    100% {
        width: 80%;
    }
}


@keyframes otx-fill {
    100% {
        width: 90%;
    }
}